*.pdf
.idea/inspectionProfiles/Project_Default.xml
.idea/DDLChecker.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
# 默认忽略的文件
.idea/shelf/
.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
